.homeContainer {
  color: floralwhite;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .homeContainer {
    background: url("assets/images/Capture2.PNG");
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media only screen and (min-width: 992px) {
  .homeContainer {
    background: url("assets/images/Capture2.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 480px) {
  .homeContainer {
    background: url("assets/images/Capture2.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.homeFooter {
  margin-bottom: 0px;
  padding-top: 40%;
  background-opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .homeFooter .launchButton {
    border-style: solid;
    border-width: 5px;
    border-bottom-color: white;
    background-image: linear-gradient(#AD2019, #BD4510);
  }
}
@media only screen and (min-width: 992px) {
  .homeFooter .launchButton {
    border-style: solid;
    border-width: 5px;
    border-bottom-color: white;
    background-image: linear-gradient(#AD2019, #BD4510);
  }
}
@media only screen and (max-width: 480px) {
  .homeFooter .launchButton {
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: white;
    background-image: linear-gradient(#AD2019, #BD4510);
  }
}
.navbar {
  background-color: black;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
}
.footer {
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: white;
}
.submitButton {
  background-image: linear-gradient(#AD2019, #BD4510);
}
.clearButton {
  margin-top: 25px;
  color: white;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-image: linear-gradient(#AD2019, #BD4510);
}
.card-title,
.card-text,
.card-subtitle {
  color: #BD4510;
}
