@screen-xs-min:     480px;
@screen-sm-min:     768px;
@screen-md-min:     992px;
@screen-lg-min:     1200px;

@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);

@phone:             ~"only screen and (max-width: @{screen-xs-min})";
@phone-strict:      ~"only screen and (min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})";
@tablet:            ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict:     ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop:           ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict:    ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@large:             ~"only screen and (min-width: @{screen-lg-min})";

@gradient-color: linear-gradient(#AD2019, #BD4510);
@image: "assets/images/Capture2.PNG";

.homeContainer{
     color: floralwhite;
    width: 100%;
    @media @tablet {
        background: url(@image);
        background-repeat: no-repeat;
        background-size: auto;
    }
    @media @desktop {
        background: url(@image);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
   @media @phone{
        background: url(@image);
        background-repeat: no-repeat;
        background-size: 100% 100%;
   }

}

.homeFooter{

    margin-bottom:0px;
    padding-top: 40%;
    background-opacity:0.5;

    .launchButton {
        @media @tablet {
            border-style: solid;
            border-width:5px;
            border-bottom-color: white;
            background-image: @gradient-color;
        }
        @media @desktop {
            border-style: solid;
            border-width:5px;
            border-bottom-color: white;
            background-image: @gradient-color;
        }
       @media @phone{
            width: 100px;
            border-style: solid;
            border-width:5px;
            border-bottom-color: white;
            background-image: @gradient-color;
        }
    }
}

.navbar{
    background-color: black;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
}

.footer{
    background-color: black;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.submitButton{
    background-image: @gradient-color;
}


.clearButton{
  margin-top: 25px;
  color: white;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-image: @gradient-color;

}

.card-title, .card-text, .card-subtitle{
    color: #BD4510
}